#fondo{background-image: url(descarga\ \(2\).jpg);background-position: 0%;background-size: cover;}
h1{color: white; font-size: 30px; font-family: cursive;}
#canvas{border-width: 10px; background-color: aliceblue; border-style: ridge;}
span{font-size: 20px;}